/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

div {
    /*border: 1px solid black;*/
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}
/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.candidates {
    display: inline-block;
}

#pictures {
    /*border: 1px solid black;*/
    height: 100%;
    padding: 0;
}

#followertweets {
    /*border: 1px solid black;*/
    height: 100%;
    padding: 0;
}

#TwitterFollowers {
    display: inline-block;
    margin: auto;
    width:80%;
    margin-bottom: 1%;
}

.topfollowers {
    display: inline-block;
}

#graph {
    height: 250px;
}
/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.candidatePicture {
    height: 33.3333%;
    display: block;
    margin: auto;
    font-weight: bold;
}

.candidateImg {
    width:20%;
    display: block;
    margin: auto;
}

#chart {
    border: none;
}

.bar.realDonaldTrump {
    fill: rgb(226, 26, 33);
}

.bar.HillaryClinton {
    fill: rgb(2, 26, 188);
}

.bar.BernieSanders {
    fill: rgb(2, 26, 188);
}

.bar {
    color: white;
    /*stroke: gray;*/
    /*stroke-width:1px;*/
}

.label {
    font-size: 15px;
    font-weight: normal;
}

#title_graph {
    margin: 10px 0px 10px 0px;
}

.selectForm {
    font-size: 1.5em;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {
display: none;
}

.line {
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}

#galleryImg{
height: 300px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

#galleryImg:hover{
  opacity: 0.6;
}

.pick_date{
  margin-top: 20px;
  font-weight:600;
  margin-bottom: 20px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  top: 100px;
  left: 240px;
  z-index: 100;
}
